

@font-face{
    font-family: "Raleway";
    src: url(../fonts/Raleway-VariableFont_wght.woff);
    src: url(../fonts/Raleway-VariableFont_wght.ttf)format("truetype");
}
@font-face{ 
    font-family: "Raleway Italic";
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
    src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf) format("truetype");

}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
}


body {
    font-family: "Raleway",sans-serif;
    font-size: 1rem;
    width: 1160px;
    margin: auto;
    border-right: 2px solid black;
}


header{
    display: flex;
    flex-direction: column;   
    align-items: center;
    background-color: #782221;
    padding: 20px;
    
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 3px,3px,0px,black;
    
}
img:hover{
    cursor:zoom-in;
}

h1  {
    font-family: "Lato",sans-serif;
    font-weight: bold;
    color:white;
}

.titre {
    font-family: "Lato",sans-serif;
    font-weight: bold;
    color:white;
}

.Tgauche {
    font-family: "Lato",sans-serif;
    background-color: #dbc2a4;
    text-indent:  20px;
}

.Tdroite {
    font-family: "Lato",sans-serif;
    background-color: #dbc2a4;
    width: 776px;
    border-left: solid #782221 4px;

}

address *{
    background-color: #2c1d27;
    color: white;
    text-decoration: none;  
        
}


#contacts {
    display: flex;
    /*flex-direction: row;*/   
    justify-content: space-between;
    align-items: center;
    padding: 25px
          
}

.map:hover ,.mail:hover,.phone:hover{
    text-decoration: underline 3px ;
    color: white;
}

.left {
    display: flex;
    width: 33%;
    background-color: #782221;
    flex-direction: column;
    padding-right: 25px;
}

.About {
    color: white;
    text-indent: 15px;
    padding-left: 15px;
}

.Languages {
    color: white;
}

.Hobby {
    color: white;
}

.right {
    display: flex;
    /*width: 100%;*/
    flex-direction: column;
    padding-left: 25px;
    
}

.corps {
    display: flex;
    flex-direction: row;
    /*width: 100%;*/
}



